/*  your css code here. If applicable */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8e44ad, #9b59b6);
}

#buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #5e3370;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4a235a;
}